body{
    margin: 0;
}
.container{
    display: flex;
    width: 550px;
    height: 650px;
}
.menu{
    background:#98ca3f;
    display: flex;
}

.item-menu, ul{
    list-style-type: none;
    display: flex;
    
}
.item-menu, li{
    display: flex;
  
    padding-left: 40px;
    padding-right: 40px;
    border: 1px;
    color: #fff;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.footer-content
{   display: flex;
    background: #98ca3f;

}
.title{
   display: flex;
   justify-content: center;
}